* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.content {
  flex: 1 1 auto;
  margin-left: 270px;
  margin-right: 20px;
  margin-top: 10px;
}

.sidebar {
  flex: 0 0 250px;
  width: 250px;
  padding: 15px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: scroll;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  padding: 5px;
  width: 100%;
}

.button-group {
  display: flex;
}

.button-add {
  background: #38c500;
  color: white;
}

.button-remove {
  background: #d93114;
  color: white;
}

.button-group button {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 5px 2px;
  padding: 5px;
  border: none;
}

.editor {
  background: #fff;
  padding: 5px;
}

.editor-header {
  color: #333;
  padding: 10px;
  margin: 0;
}

.editor-wrapper {
  margin-bottom: 20px;
  box-shadow: 0 2px 8px #888;
}